body {
            
            max-width: 1000px;
            margin: auto;

            outline:1px solid black;
            margin-top: 0;
            
            
            
/*
                background-image: url(images/.png) ;
            background-repeat: no-repeat;
            background-size:cover;
            background-position: center;
*/
                    
        }


        #top-bar-blue {
            
            background-color: #a1eafb;
            height: 200px;
            text-align: center;
            width:1000px;
            float:left; /* remove for issues */
            padding-top:1.px;
            
        }

        
        #cloud-one {
            
            float:left;
            position: relative;
            top:-100px;
            margin-left: 85px;
            opacity: 0.5;
            
        }
        
        #cloud-two {
            
            float:right;
            position: relative;
            left:-100px;
            top:-60;
            opacity: 0.5;
            
        }

.topnav {
    
    top:-45px;
    position: relative;
    width: 90%;
    overflow: hidden;
    background-color: grey;
/*    padding-left: ;*/
   padding-left: 10%;
       
    
}

.topnav a {
  float: left;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
    
}

.topnav a:hover {
  background-color: cadetblue;
  color: black;
    
}

.topnav a.active {
  background-color: skyblue;
  color: white;
}
    
#name-font {

        padding-top: 20;
        border: 0;
        outline: 0;
    
}
        
        
        h1 {
            
            font-family: 'Sacramento', cursive;
            color: #66bfbf;
            font-size: 70px;
            position: relative;
            padding-top: 50px;
            line-height: 1%;
            
        }
        
        h4 {
            
            padding: -50;
            font-size: 13px;
            line-height: 1%;
            color: firebrick;
            text-decoration-color: firebrick;
            font-family:monospace
                        
        }
        
        
        
        .writeup-list { 
            
            
            font-family: cursive;
            color: darkslateblue;
            font-size: 30px;
            position: relative;
            line-height: 1%;   
            text-align: center;
            bottom:30px;
/*            float:left;  remove for issues */
            top:100px;
            padding-bottom: 10px;
        
        
        }
        
        
        
        .logos {    
            
            position: inherit;
            margin-left: 150px;
            margin-right:5px;
            margin-top: 100px;
            
            
            
        } 
        
        
        .logos-two {    
            
            position: relative;
            margin-left: 150px;
            margin-right:19px;
            
        } 
        
        
        #social-media {    
            
            position: relative;
            margin-left: 45%;
            padding-top: 100px;
               
            
        } 
        
        .logoWidth {
            
            padding-right: 10px;
            position: relative;
            top:10px;
            
        }
        
        #bottom-bar {

        background-color: #7edb21;
        height: 30px;
        width:1000px;
        text-align: center;
        bottom:0;

    }
        
        #footerTag {

        font-family: cursive;
        font-size: 12px;
        padding-top: 10px;

        }
       
    
#about-me-section {
    
            font-family: cursive;
            color: darkslateblue;
            font-size: 30px;
            line-height: 1%;   
            text-align: center;
            bottom:30px;
            margin-top:-50px;
            padding-bottom: 10px;
    
}

.about-handle {
    
    margin-left: 50px;
    margin-right: 50px;
    
}

/* Sets the bullet points to inside position (next to ul) */
ul {
    text-align: center;
    list-style-position: inside;
}

#certDeg {
    
    position: relative;
    text-align: center;
    
}





