<nav class="topnav">
    <a data-href="index.html">home</a>
    <div class="topnav-dropdown">
        <a href="#" class="topnav-dropdown-toggle" aria-haspopup="true">writeups</a>
        <div class="topnav-dropdown-menu" role="menu">
            <a data-href="hackthebox.html">hackthebox</a>
            <a data-href="tryhackme.html">tryhackme</a>
            <a data-href="vulnhub.html">vulnhub</a>
            <a data-href="bugforge.html">bugforge</a>
            <a data-href="webverse.html">webverse</a>
        </div>
    </div>
    <a data-href="general.html">blog</a>
    <a data-href="quicklinks.html">quick links</a>
    <a data-href="About.html">about</a>
</nav>
